apiVersion: 1
datasources:
  - name: Loki
    type: loki
    access: proxy
    url: "{{ grafana_loki_url }}"
    editable: false
    jsonData:
      maxLines: 1000
      tlsAuth: true
      tlsClientCertFile: /etc/grafana/pki/loki-client.crt
      tlsClientKeyFile: /etc/grafana/pki/loki-client.key
