[defaults]
remote_user = ansible
host_key_checking = True
private_key_file = ~/.ssh/ansible_id_rsa
vault_password_file = secret.txt
roles_path = roles
collections_path = collections
stdout_callback = default
callbacks_enabled = ansible.posix.profile_tasks
retry_files_enabled = False

[privilege_escalation]
become = True
become_method = sudo
become_user = root

[ssh_connection]
pipelining = True

