WORK_PATH = {{ gitea_home }}

[server]
HTTP_PORT = {{ gitea_port }}
PROTOCOL = https
DOMAIN = {{ gitea_domain }}
ROOT_URL = https://{{ gitea_domain }}:{{ gitea_port }}/
CERT_FILE = {{ gitea_cert_dir }}/{{ inventory_hostname }}.crt
KEY_FILE = {{ gitea_cert_dir }}/{{ inventory_hostname }}.key

[database]
DB_TYPE = mysql
HOST = 127.0.0.1:3306
NAME = {{ mariadb_gitea_db }}
USER = {{ mariadb_gitea_user }}
PASSWD = {{ vault_gitea_db_password }}

[repository]
ROOT = {{ gitea_home }}/repos

[log]
ROOT_PATH = {{ gitea_home }}/log
MODE = file
LEVEL = Info

[security]
SECRET_KEY = {{ vault_gitea_secret_key }}
INSTALL_LOCK = true
INTERNAL_TOKEN = {{ vault_gitea_internal_token }}

[oauth2]
JWT_SECRET = {{ vault_gitea_jwt_secret }}

[webhook]
ALLOWED_HOST_LIST = {{ ansible_default_ipv4.address }}
