<?xml version="1.0" encoding="utf-8"?>
<NetworkConfiguration
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <EnableHttps>true</EnableHttps>
  <CertificatePath>/config/tls/jellyfin.pfx</CertificatePath>
  <CertificatePassword>{{ vault_jellyfin_cert_password }}</CertificatePassword>
</NetworkConfiguration>
