server {
    listen 443 ssl;
    server_name immich.{{ ansible_hostname }};

    ssl_certificate /etc/pki/tls/certs/immich.crt;
    ssl_certificate_key /etc/pki/tls/private/immich.key;

    client_max_body_size 50000M;
    proxy_read_timeout 600s;

    location / {
        proxy_pass http://127.0.0.1:{{ immich_http_port }};
        proxy_http_version 1.1;
        proxy_set_header Connection "";
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
