WOODPECKER_SERVER=localhost:{{ woodpecker_grpc_port }}
WOODPECKER_AGENT_SECRET={{ vault_woodpecker_agent_secret }}
WOODPECKER_BACKEND=docker
WOODPECKER_BACKEND_DOCKER_HOST=unix://{{ woodpecker_podman_socket }}
WOODPECKER_LOG_LEVEL=info
WOODPECKER_WORKDIR={{ woodpecker_home }}/agent
WOODPECKER_HEALTHCHECK_ADDR=:3002

