WOODPECKER_HOST={{ woodpecker_host }}
WOODPECKER_GITEA=true
WOODPECKER_GITEA_URL={{ woodpecker_gitea_url }}
WOODPECKER_GITEA_CLIENT={{ vault_woodpecker_gitea_client }}
WOODPECKER_GITEA_SECRET={{ vault_woodpecker_gitea_secret }}
WOODPECKER_ADMIN={{ woodpecker_admin_user }}
WOODPECKER_AGENT_SECRET={{ vault_woodpecker_agent_secret }}
WOODPECKER_DATABASE_DRIVER=sqlite3
WOODPECKER_DATABASE_DATASOURCE={{ woodpecker_home }}/woodpecker.sqlite
WOODPECKER_LOG_LEVEL=info
WOODPECKER_GRPC_ADDR=:{{ woodpecker_grpc_port }}
WOODPECKER_SERVER_ADDR={{ woodpecker_bind_addr }}:{{ woodpecker_server_port }}
